node_modules
# Keep environment variables out of version control
.env

/generated/prisma

prisma/seed-user.js
prisma/seed-stud-esp.js
prisma/seed-stud-isms.js
prisma/seed-stud-isme.js
prisma/seed-etabliss.js
